.fruit{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}
.class{
    margin: 10% 30px;
    font: 1em sans-serif;
    font-style: italic;
    font-style: normal;

    /*bd 엔터    하면 기본값설정*/
    border: 1px solid #000;
    
    /*bd+*/
    border: none;

    /*m20+p30*/
    margin: 20px;
    padding: 30px;
}